.board{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 60px;
}

[data-row] {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: center;
  height: 200px;
  width: 20px;
  margin: 25px;
  border: 1px solid lightgray;
  border-radius: 8px;
}

[data-row].red {
  background-color: #f6c5c5;
}

[data-row].yellow {
  background-color: #ffffa9;
}

[data-row].green {
  background-color: #baf6ba;
}

[data-row].blue {
  background-color: aliceblue;
}

.stone {
  z-index: 20;
  border-radius: 999px;
  border: 1px solid rgb(224, 188, 188);
  
}

[data-color] {
  width: 25px;
  float: left;
}

[data-color="blue"] {
  height: 33px;
  width: 60px;
  background: radial-gradient(farthest-corner at 60px 45px, rgb(0, 3, 29) 0%, rgb(0, 60, 255) 50%);
}

[data-color="green"] {
  height: 33px;
  width: 80px;
  background: radial-gradient(farthest-corner at 80px 45px, rgb(0, 3, 29) 0%, rgb(0, 129, 0) 50%);
}

[data-color="red"] {
  height: 33px;
  width: 100px;
  background: radial-gradient(farthest-corner at 100px 45px, rgb(0, 3, 29) 0%, rgb(255, 0, 0) 50%);
}

[data-color="yellow"] {
  height: 33px;
  width: 120px;
  background: radial-gradient(farthest-corner at 120px 45px, rgb(0, 3, 29) 0%, rgb(255, 238, 0) 50%);
}

#announce-game-won {
  font-size: 50px;
  text-align: center;
}
